[2016-12-08 22:03] luser opened #2 "Add a `wait_with_output` equivalent"
I'd love to use this in sccache as I refactor it to use tokio, but we need to capture the process stdout/stderr. It'd be useful to have an equivalent to the standard library's `wait_with_output` to accomplish this. I don't need the outputs as streams, just getting a `std::process::Output` as the future result would be fine.

sccache is not actually using `wait_with_output` currently, because somet

[2016-12-09 00:32] alexcrichton commented on #2
I believe to do this we need a way to get nonblocking stdin/stdout handles to do asynchronous reads/writes on. Unfortunately that's not possible yet on Windows but I hope to implement this feature soon!

[2016-12-13 22:43] alexcrichton commented on #2
I'll do this as soon as https://github.com/alexcrichton/tokio-process/pull/1 merges which [is in turn](https://github.com/alexcrichton/tokio-process/pull/1#issuecomment-266885679) blocked on some [more support in mio](https://github.com/carllerche/mio/pull/504).

[2016-12-14 20:29] alexchandel commented on #2
@alexcrichton Basically with the Windows terminal, you can either poll the Console Input handle for events (which include keyboard, mouse, menu, focus-changing, and window-resizing events) with `WaitForSingleObject` or `WaitForMultipleObjects`, and theoretically filter out the key-down or key-up events.

**HOWEVER** this means line-discipline, line-editing, and line-echoing won't work (i.e. people

[2016-12-14 22:05] alexcrichton commented on #2
@alexchandel it sounds like you're mostly referring to managing the current process's stdin/stdout with Tokio? This issue, however, is for managing a child process's piped stdin/stdout with Tokio, so I'm not able to make the connection yet...

[2016-12-18 23:10] ipetkov opened #3 "Consider killing child when `Child` future dropped"
The current `std::Child` implementation (which powers the `Child` future) [does not implement `Drop`](https://doc.rust-lang.org/std/process/struct.Child.html#note), so spawned children will continue to run unless they are explicitly killed.

I wonder if maintaining the same behavior within this crate is misleading with respect to the philosophies of futures:
* dropping a regular future frees up re

[2016-12-19 04:42] alexcrichton commented on #3
Yeah I feel like "futures cancel on drop" is trumps "libstd child doesn't cancel on drop". In that sense I agree we should reverse what libstd is doing with with this crate and cancel on drop by default. I'll add this in with a `forget` method as well to let children run in the background.

[2016-12-19 06:40] #2 closed

[2016-12-19 06:40] #3 closed

[2016-12-29 11:10] Byron opened #7 "tokio-stdio - what do you think of this?"
In order to get started with Tokio and futures, I decided to make a [little command-line](https://github.com/Byron/crates-io-cli-rs) tool which should help to interact with crates-io.

The idea of the _[search](https://github.com/Byron/crates-io-cli-rs/blob/0571ea0caf14156f41d3eeaeb215919d391e6910/src/scmds/search.rs#L12)_ subcommand is to allow the user to type anything, and have it request the s

[2016-12-29 16:12] Byron commented on #7
That is exactly what I meant! If stdin/stdout/stderr of the current process could be used with futures, I imagine it would be easier to write asynchronous futurized command-line tools.
To me it appeared setting stdin (for example) to non-blocking would enable that, which seems to be what `stdio()` does to anything that can be converted into a raw FD.

Asked differently: Is it possible to use stdin

[2016-12-29 16:16] alexcrichton commented on #7
At it's fundamental level this is sort of blocked on https://github.com/carllerche/mio/issues/321. You can emulate it today sorta but it needs support at some core level.

In general for small CLI tools and such what you probably want to do is to use channels to communicate to foreign threads. You can have a thread per stdin/stdout/stderr with a `futures::sync::mpsc` that the main thread communica

[2016-12-29 16:18] Byron commented on #7
Thanks a lot for the heads-up! I will try to use `futures::sync::mpsc` instead :).

[2016-12-29 16:18] #7 closed

[2016-12-30 22:26] cristicbz opened #8 "`spawn_async` et al. should spawn the process lazily."
Right now the subprocess seems to be spawned right away rather than the first time the `Future` is polled. This is a limitation for me since I want to box (with `.boxed`) a whole bunch of `spawn_async` futures without spinning up all the processes at the same time.

I can't use a lazy future and box that, because I'd need to capture a `handle` which isn't `Send`.

Is there some other kind of trick

[2016-12-30 22:35] ipetkov commented on #8
@alexcrichton is there a reason why we have to spawn commands using a `Handle` only? If there is an alternative `spawn_async_remote` API that accepts `Remote` then the spawn could be wrapped as a lazy future since `Remote` is `Clone + Send`

[2016-12-30 22:48] cristicbz opened #9 "panic when used with `lazy` and `futures_unordered`"
The code below panics inside `futures-rs` in the [`futures_unordered` code](https://github.com/alexcrichton/futures-rs/blob/master/src/stream/futures_unordered.rs#L62) with:

<details>
<summary>Backtrace</summary>

[code]

</details>

---
File `main.rs`:
[code]

File `Cargo.toml`:
[code]

[2016-12-31 00:13] alexcrichton commented on #8
Hm an interesting idea! Fundamentally there's no real way to express asynchronous spawning, so I wanted to keep that fact exposed at the API layer if possible. Perhaps something like this could work though?

[code]

or something like that?

@ipetkov part of the `spawn` operation needs to register I/O handles on the event loop (e.g. stdio handles) as well as signal handling and such for Unix. That'

[2016-12-31 00:18] ipetkov commented on #8
@alexcrichton ah, didn't look at the `Remote` docs too closely and missed that `spawn` gives access to a regular `Handle`

[2016-12-31 00:33] cristicbz commented on #8
@alexcrichton using a oneshot channel always feels like giving up, but you're right, I didn't think about the fact that ultimately the OS doesn't support async spawning. Thanks for the run-through, I'll close this since it seems like this is just the way this API needs to work (I'm still getting used to what is idiomatic tokio).

[2016-12-31 00:33] #8 closed

[2016-12-31 00:47] #9 closed

[2016-12-31 00:47] alexcrichton commented on #9
Turns out this was a bug in futures!

[2016-12-31 17:38] kryptan opened #10 "Support for asynchronously reading/writing stdio"
I may be misunderstanding something, but `ChildStdin`, `ChildStdout` and `ChildStderr` only implement `std::io::Read`/`Write` which are for synchronous io. How can I asynchronously read/write to them?

Is this simply not yet implemented or is there some way to do it?

[2017-01-01 00:41] alexcrichton commented on #10
Oh the `Read` and `Write` implementations for all these types are actually nonblocking, as is evidenced from the [documentation](https://github.com/alexcrichton/tokio-process/blob/9738947a198f8f970f3ea2a1b7940fdd3bb85c02/src/lib.rs#L398-L400). In that sense this is already done!

[2017-01-01 00:41] #10 closed

[2017-01-18 15:25] luser opened #11 "Investigate using job objects and IOCP on Windows"
While reading the MSDN docs on job objects for something, I came across this page:
https://msdn.microsoft.com/en-us/library/windows/desktop/ms684141(v=vs.85).aspx

If you create a job object, you can associate an IOCP with it. If you then create processes in that job (generally using [`AssignProcessToJobObject`](https://msdn.microsoft.com/en-us/library/windows/desktop/ms681949(v=vs.85).aspx) on a

[2017-01-18 16:58] alexcrichton commented on #11
I was actually pretty excited originally to use job objects as they seemed like a perfect tool, but [this documentation](https://msdn.microsoft.com/en-us/library/windows/desktop/ms684161(v=vs.85).aspx) ended up having a few clauses that dissuaded me:

Do you know if there's a way to work around that though? Perhaps whenever any event happens we should check *all* events like with Unix?

[2017-01-18 19:59] luser commented on #11
That warning is infuriatingly vague. I can't find any documentation anywhere that clarifies it! [Raymond Chen suggests](https://blogs.msdn.microsoft.com/oldnewthing/20130405-00/?p=4743) using the IOCP notification `JOB_OBJECT_MSG_ACTIVE_PROCESS_ZERO` to wait for a process tree to exit, so that would suggest that *that* is reliable, at least. That's not the behavior we need here, though, because if

[2017-01-18 21:54] alexcrichton commented on #11
So actually... If we could manage to ensure that a child process is the only one (and will only ever be the one) inside of a job object then I think we could use that message, right?

I wonder if we could use `JOB_OBJECT_LIMIT_SILENT_BREAKAWAY_OK` for that? From reading the documentation I can't quite tell if that means that *all* child processes are not members or if only those that specify `CREA

[2017-01-19 11:40] luser commented on #11
[Per MSDN](https://msdn.microsoft.com/en-us/library/windows/desktop/ms684161(v=vs.85).aspx#managing_processes_in_jobs):

"If the job has the extended limit JOB_OBJECT_LIMIT_SILENT_BREAKAWAY_OK, then child processes of any parent process associated with the job are not associated with the job. It is not necessary for parent processes to be created with the CREATE_BREAKAWAY_FROM_JOB flag."

[2017-01-19 17:10] alexcrichton commented on #11
Well in that case sounds perfect! I'll investigate.

[2017-01-19 19:06] alexcrichton commented on #11
Job objects have their own special way of being associated with completion ports (yay special flowers!) so mio will have to expose the actual handle to the completion port somehow. I'll work on implementing that in mio.

[2017-01-20 00:25] alexcrichton commented on #11
Blech it also gives no control over an `OVERLAPPED` pointer, so gonna have to rethink a lot in mio for this one...

[2017-01-23 17:38] alexcrichton commented on #11
So for me I'm not sure I've got a great way to solve this at the mio layer. It's easy enough to expose the underlying IOCP object, but only having a token to dispatch on is a real bummer. On Windows mio assumes all IOCP events come back with an OVERLAPPED pointer that has a function pointer right behind it, and that's the event's dispatch. With just a token we'd need to have some sort of token-bas

[2017-01-23 17:44] alexcrichton commented on #11
https://github.com/carllerche/mio/issues/526

[2017-02-04 15:35] ihrwein opened #12 "Spawning a child process and reading its stdout/stderr in a "streaming way""
Hi,

First of all, thanks for this library.

I started to write a service supervisor which can start one subprocess and read the child's stdout and stderr ouputs in a streaming way. For example, I'd like to redirect them to a TCP connection or a file. Is there any way to spawn a child and get handles for both of stdout and stderr? `Child`'s `stdout()` and `stderr()` methods returns mutable referen

[2017-02-05 21:23] alexcrichton commented on #12
Oh you should be able to `take()` them, but does that not work for you? With the raw I/O handles you should be able to implement w/e logic you need locally in theory at least.

[2017-02-06 20:26] ihrwein commented on #12
It works perfectly, thanks. I knew about take(), but I didn't realize I could move out the handles from the references :)

[2017-02-06 20:26] #12 closed

[2017-04-23 14:54] mkpankov opened #13 "Can I read stdout line-by-line?"
I think this requires a `Stream` of lines, but I can't get any.

[2017-04-23 16:02] mkpankov commented on #13
Nevermind, docs.rs shows docs for `0.2.0` by default, which is confusingly not latest.

Figured out it can be done in a following way with `0.1.3` (for anyone else wondering):

[code]

[2017-04-24 14:41] alexcrichton commented on #13
Perhaps [`tokio_io::io::lines`](https://docs.rs/tokio-io/0.1.1/tokio_io/io/fn.lines.html) would solve this use case?

[2017-04-24 20:24] mkpankov commented on #13
I've been able to put together this program:

[code]

Problem is, it immediately exits if run interactively. If I pipe some output to it (`echo Foo | prog`) then it outputs a line.

How can I make it wait for line to come and not exit immediately?

[2017-04-24 20:27] alexcrichton commented on #13
The `Child` itself is a future, and all future are canceled whenever they're dropped. In this case that means that when the `get_lines` function returns it will run the destructor for `Child`, and the interpretation of "cancelling the future of a child process" is to kill the child. You'll want to either [call `forget`](https://docs.rs/tokio-process/0.2.0/tokio_process/struct.Child.html#method.for

[2017-04-24 20:34] mkpankov commented on #13
@alexcrichton thanks!

I'll leave the working version for anyone having same use case:

[code]

[2017-04-24 20:35] #13 closed

[2017-04-24 20:36] mkpankov commented on #13
On a second thought, what do you think of adding this as an example to the docs?

[2017-04-24 20:39] alexcrichton commented on #13
I'd love to have it!

[2017-05-23 11:04] vorner opened #15 "Consuming version of API"
The current API, like `.spawn_async` borrow the command. This is nice if I want to start multiple similar commands from the same builder.

However, in case I want to start bunch of processes, a consuming API would work better. I mean something like this (it won't probably compile for more reasons than just the borrow checker, but it should illustrate the intention):

[code]

This doesn't work beca

[2017-05-23 14:05] alexcrichton commented on #15
Hm I'm not sure I quite follow, the `Child` struct return shouldn't borrow the `Command`? What's the error you're running into?

[2017-05-23 15:33] vorner commented on #15
I postponed the creation of the issue and I no longer have the code that triggered it. However, now I can't reproduce it and I just removed the workaround from the code and it compiles. I must have mis-analyzed some other unrelated borrow checker error and blamed it on the wrong culprit.

My apologies,  I'll save the exact code and error next time I think something doesn't work O:-).

[2017-05-23 15:33] #15 closed

[2017-05-23 15:48] alexcrichton commented on #15
No worries!

[2017-07-25 03:13] ipetkov opened #21 "Request for a new release"
Hi @alexcrichton, thanks for maintaining this crate!

Is it possible to release a new version sometime in the near future? Hoping to release a crate in the next few weeks but it relies on the `status_async2` changes introduced in #20, which haven't made it into any particular release AFAIK.

Thanks!

[2017-07-25 04:38] alexcrichton commented on #21
Certainly! Out of curiosity, would you like to have collaborator + publish rights for this crate as well? You've done some awesome work to help it along!

[2017-07-25 04:39] #21 closed

[2017-07-25 15:53] ipetkov commented on #21
@alexcrichton sure, that would be great!

[2017-09-20 15:07] little-dude opened #22 "doc doesn't show that ChildStdout implements AsyncRead and ChildStdin implements AsyncWrite"
https://docs.rs/tokio-process/0.2.0/tokio_process/struct.ChildStdout.html
https://docs.rs/tokio-process/0.2.0/tokio_process/struct.ChildStdin.html

I cloned the repo with the intention to add these traits, but they are already there.

[2017-09-20 15:56] ipetkov commented on #22
To give some historical context, a 0.2 version was released some time back but was yanked (maybe @alexcrichton can fill in the gap here), while all other development continued on the 0.1 series as if 0.2 never existed.

It's pretty unfortunate that crates.io and docs.rs prefer defaulting to the highest version number to display. The reason why the 0.2.0 docs don't show `Async{Read, Write}` impls i

[2017-09-20 16:01] alexcrichton commented on #22
Gah :(

I released 0.2 but then figured it'd be better to keep everything tokio-* at 0.1 as long as I could, so I quickly went back to release a new 0.1.x series with just some local hacks to preserve backwards compatibility. I'm not sure how to update the docs on docs.rs though:(

[2017-09-21 04:09] ipetkov commented on #22
It seems that docs.rs has an issue for hiding yanked versions: onur/docs.rs#112

[2017-10-17 14:14] petehayes102 opened #23 "Can't use tokio-process via a `TcpServer` - Consider `Remote` instead of `Handle`"
I'm trying to use this crate as part of an API, which is exposed via a `tokio_proto::TcpServer`. The problem I'm encountering is that `Handle`s are not sendable. This means I'm left with a `Remote`, which is not enough for me to consume `spawn_async` et. al.

However, you don't (nor do your dependent crates) need a `Handle`. Firstly this crate calls `tokio-signal::Signal::new()`, which invokes `Ha

[2017-10-17 18:58] alexcrichton commented on #23
Thanks for the report!

I think this is required though as the tokio-signal crate currently [spawns a task](https://github.com/alexcrichton/tokio-signal/blob/3fa92b4f0ddb1303ebaa1f26c13a8238316afb4e/src/unix.rs#L362) which requires a handle rather than a remote, and in general we can't change the `PollEvented` handle for now. You may be interested in tokio-rs/tokio-rfcs#3 though which would solve

[2017-10-17 18:58] #23 closed

[2017-10-17 20:30] petehayes102 commented on #23
Doesn't `Remote` also have the ability to [spawn tasks](https://docs.rs/tokio-core/0.1.10/tokio_core/reactor/struct.Remote.html#method.spawn)?

Anyway, tokio-rfcs#3 looks really cool. If only I had a time machine! 😄 Thanks for the heads up mate.

[2017-10-17 20:45] alexcrichton commented on #23
Hm true yeah, but I think it's probably best to wait for handles to become Send regardless

[2017-11-15 18:02] alexchandel commented on #22
Does this mean it's possible to asynchronously read from the child's stdout, or presumably frame the byte stream from the child's stdout with LineCodec?

[2017-11-15 18:12] little-dude commented on #22
Yes. Same for `ChildStderr`.

[2017-11-15 20:03] alexchandel commented on #22
@little-dude got a quick example of reading lines from it? :) the docs are a little sparse.

[2017-11-15 22:32] alexchandel opened #24 "Child Stdout doesn't update often enough"
I have a child process that outputs a highly variable number of lines per second. However, I'm finding that, when I attempt to process it with a FramedRead and a simple line codec, `decode` is almost never called when data should be available. Instead, it's called only after about 8192 bytes have been written, which seems to indicate an 8K buffer somewhere (I'm using stable rust, latest tokio, & m

[2017-11-15 23:42] little-dude commented on #22
@alexchandel in one of my crate a want to have a stream of lines for stderr, so I have this: https://github.com/little-dude/xrl/blob/ba269756045dbe84a27a9f1e724e8dd5676501ed/src/core.rs#L81-L118

Does that help?

[2017-11-16 04:35] ipetkov commented on #24
Hi @alexchandel, thanks for the report!

[Diving] through [the code] for `FramedRead` shows that `tokio-io` is setting an 8K [initial buffer]. If the child process sends a high volume of data its possible that `FramedRead` will wait until its buffer is filled before attempting any decoding. I'm not too familiar with the `FramedRead` APIs so it may be worth asking on the `tokio-io` issue tracker ab

[2017-11-16 04:35] #24 closed

[2017-11-17 03:27] alexchandel commented on #24
Turns out it wasn't due to FramedRead's buffer, though the 8K is a funny coincidence, but apparently due to the default OS buffering on the pipe. I was able to change one child process to autoflush, but there's another I can't edit.

[2017-12-29 15:26] algermissen commented on #13
Leaving a note here, that, having the same problem, I created this crate: https://crates.io/crates/tokio-process-bits

[2018-03-08 17:59] Twey opened #27 "`tokio-process` can't coexist with `tokio`"
`tokio-core` is now deprecated, and the new `tokio` crate has a completely different model for execution.  Notably, there is AFAICT no way to get a `tokio_core::reactor::Handle` or anything similar from `tokio`, which makes many of `tokio-process`'s functions uncallable.

[2018-03-08 22:16] alexcrichton commented on #27
Thanks for the report! Once futures 0.2 is published I plan on updating.

[2018-03-09 03:38] ipetkov commented on #27
@alexcrichton on an unrelated note, is the plan to release `0.3` once futures 0.2 is out?

[2018-03-09 15:30] alexcrichton commented on #27
@ipetkov oh isn't this lib currently at 0.1?, making the futures 0.2 compatible release 0.2?

[2018-03-09 16:28] ipetkov commented on #27
Unfortunately we've got a [published, but yanked, 0.2 version](https://crates.io/crates/tokio-process/0.2.0). Releasing a new 0.2.x version will have breaking changes relative to 0.2.0 and will probably cause more problems for anyone that happens to be on 0.2.0.

I figured jumping directly to 0.3 will just bypass any of these headaches and start over!

[2018-03-09 16:42] alexcrichton commented on #27
Oh I was gonna publish 0.2.1, while technically breaking I can't imagine anyone's actually relying on 0.2.0

[2018-03-09 19:27] ipetkov commented on #27
Fair enough, will trust your judgement here, thanks!

[2018-04-08 01:54] tarcieri commented on #27
What's the story here now that futures 0.2 is out?

[2018-04-08 22:39] ipetkov opened #28 "Remove all items deprecated since 0.1"

[2018-04-08 22:41] ipetkov opened #29 "Depend on `tokio` runtime instead of `tokio-core`"
Since `tokio-core` now [supports](https://docs.rs/tokio-core/0.1.16/tokio_core/reactor/struct.Handle.html#method.new_tokio_handle) converting `tokio_core::Handle`s to `tokio::Handle`s, we should depend on the `tokio` runtime which allows downstream crates to use either system

[2018-04-08 22:41] ipetkov opened #30 "Migrate to futures 0.2"

[2018-04-08 22:42] ipetkov commented on #29
Note: `tokio-signal` will need to be migrated to using the `tokio` runtime first

[2018-04-08 22:43] ipetkov commented on #27
@tarcieri I've created a milestone for tracking changes for a 0.2.x release

cc @alexcrichton

[2018-04-09 13:26] alexcrichton commented on #27
Thanks @ipetkov! I wonder, does Tokio support futures 0.2 yet?

[2018-04-18 15:27] Twey commented on #27
Yes, with the `unstable-futures` feature.

[2018-04-18 15:56] ipetkov commented on #27
FWIW, according to tokio-rs/tokio#312 the "[recommendation](https://www.reddit.com/r/rust/comments/8ac85w/futures_02_is_here/dwxkhvl/?st=jfu4ws1v&sh=c3363e5e) from the futures team is to not update libraries fully to 0.2", given that futures 0.3 is on the horizon.

[2018-04-22 08:12] aep commented on #22
this doesn't seem to work for me. the stdout stream immediately ends, leaving the process defunct.

[code]

[2018-04-22 08:27] aep opened #32 "`Child` does not reap child process on drop"
just using stdout as stream doesn't seem to work at all.
That results in a defunct process immediately with stdout stream closed.

So i'm selecting over the child as well. That gives me all the output and the process is reaped when it closes itself.

However, when the stream is dropped before the child is done, it is not killed.

Instead it will later die when it writes again. then kill is called

[2018-04-22 09:41] aep commented on #32
Looks like the first issue (not killed on drop) is invalid. The stream is actually never dropped. https://github.com/tower-rs/tower-grpc/issues/55

The second issue remains. strace is telling me waitpid is called fine, but still the process remains defunct.

[2018-04-22 23:05] ipetkov opened #34 "Forgotten child processes cannot be reaped"
* Similar to #32, we never reap any children which have had `forget` invoked.
* A possible solution is to register a cleanup future with the reactor whenever `forget` is invoked, such that the child is reaped when it exits

[2018-04-23 15:26] alexcrichton commented on #34
Hm an excellent point! I'm not sure we'd want to spawn anything though as that could run into long-lived leaks (which this may be intended to avoid). I wonder though if the this should perhaps simply be removed? We could perhaps add an `into_inner` method to return a `Child` which could in theory take over from there?

[2018-04-23 16:00] ipetkov commented on #34
Unfortunately, the `std::Child` doesn't offer any clean up either, so unwrapping it will still leak un-reaped children (albeit it would become the caller's problem at that point):

[code]

Could you elaborate on what you mean by long-lived leaks? I could see this being a problem if the event loop isn't actually turning but I'm not sure if that's a common situation.

[2018-04-23 17:57] alexcrichton commented on #34
Oh right yeah but it's sort of a clearer way of placing that burden onto the caller. We could very sternly document the warning of leaking pids, and having a `Child` in hand would allow external callers to manage it as required (which may be to just call `drop` or to schedule a future later)

[2018-04-24 02:48] ipetkov commented on #34
I was thinking about modifying `forget` (or its equivalent) to just return a future which will ensure the cleanup is done, and require the caller to spawn it in the event loop if needed, but that's not much different than `handle.spawn(child.map(|_| ()).map_err(|_| ())`, so we might as well just recommend that approach.

With that said, I'm fine with just deprecating `forget` and adding more stern

[2018-04-24 10:09] Twey commented on #27
Yes, I believe that's true. I must have just missed that on my first time through — I guess the port is easier than I anticipated then.

[2018-04-24 14:39] alexcrichton commented on #34
I think though that this is something we'd want to enable somehow in the sense that despite it being bad in some circumstances it's still good to execute in others. I'd prefer to enable drop-without-kill somehow for those still using it, although I don't think it has to be precisely through the `forget` interface as-is today

[2018-04-24 15:45] ipetkov commented on #34
Okay, will open a PR later just for updating the docs.

[2018-04-25 05:24] #34 closed

[2018-05-02 22:26] tarcieri commented on #27
It looks like #29 (`tokio-core` => `tokio`) and #30 (`futures` 0.2 upgrade) cover both of these problems as separate issues. Perhaps it's worth closing this issue and moving discussion there?

[2018-05-02 22:27] tarcieri commented on #29
FYI, relevant `tokio-signal` issue: https://github.com/alexcrichton/tokio-signal/issues/22

[2018-05-02 22:28] tarcieri commented on #29
Is anyone interested in working on this? If not, I could try working on a PR.

The `tokio-signal` stuff seems like a definite blocker though, and I'm not sure the path forward there is clear.

[2018-05-02 23:51] alexcrichton commented on #29
I don't personally have enough time right now to take care of this, but I can help take a look at a PR!

[2018-05-03 09:33] Twey commented on #27
Fine by me.

[2018-05-03 09:33] #27 closed

[2018-05-07 21:00] euclio commented on #29
The `tokio-signal` 0.2 release contains support for the `tokio` runtime.

[2018-05-07 21:07] tarcieri commented on #29
@euclio fantastic!

If I have some spare time I'll take a look at this

[2018-05-09 03:08] ipetkov commented on #28
Closing since this has been merged into the `0.2.x` branch

[2018-05-09 03:08] #28 closed

[2018-05-09 03:10] ipetkov commented on #22
We now have a milestone for tracking a true `0.2`/`0.2.1` release which will resolve the issue with docs.rs when it is published, so going to close this

[2018-05-09 03:10] #22 closed

[2018-05-09 20:17] jjl commented on #29
`tokio_io::IoFuture` doesn't exist in `tokio::io`, but it's used in several places.

[2018-05-10 02:31] #32 closed

[2018-05-10 23:34] euclio commented on #29
`IoFuture<T>` is just a type alias for `Box<Future<Item = T, Error = io::Error> + Send>`.

[2018-05-13 03:45] ipetkov commented on #29
Found some spare time and started working on this. Will try to wrap up an initial PR for this sometime tomorrow!

[2018-05-14 00:32] ipetkov commented on #29
PR opened: #37

[2018-05-15 02:39] ipetkov commented on #29
Changes have been merged into the `0.2.x` branch, so going to close this.

Anyone who'd like to give the changes a spin is welcome to do so! Unless any issues are brought up, I'll publish a `0.2.1` version later this week

[2018-05-15 02:39] #29 closed

[2018-05-15 02:42] ipetkov commented on #30
Since the "[recommendation](https://www.reddit.com/r/rust/comments/8ac85w/futures_02_is_here/dwxkhvl/?st=jfu4ws1v&sh=c3363e5e) from the futures team is to not update libraries fully to 0.2", given that futures 0.3 is on the horizon, and since `tokio-signal` does not support `futures-0.2` I'm going to defer bumping the dependency on `futures` until a more stable release lands.

cc @alexcrichton

[2018-05-15 02:42] #30 closed

[2018-05-15 17:03] stratact opened #38 "Update tokio-process to use tokio crate instead of tokio-core"
As the title says, the reason being is that tokio-core is now considered deprecated, only in maintenance mode. It would be nice to use a more updated API such as using `tokio::reactor::Handle::current()` instead of `tokio_core::reactor::Core::handle()` when using `spawn_async()`.

[2018-05-15 17:13] stratact commented on #38
After chatting with @ipetkov on IRC, I'm closing this since it has done in 0.2.x branch and is a dup of #29.

[2018-05-15 17:13] #38 closed

[2018-05-15 18:14] stratact opened #39 "[0.2.x branch] Panics with 'no Task is currently running'"
Here is the backtrace output for reference:
[code]

[2018-05-16 02:59] #39 closed

[2018-05-30 03:54] christophebiocca opened #42 "Semi-reliable deadlocking when combining spawn_async (or status_async) with buffered or buffer_unordered"
Basically if I try to run multiple processes in parallel using `buffered` or `buffer_ordered`, the last process to run never completes. This seems independent of io piping or which particular command is being run. It seems to happen around 2/3rds of the time.

There's a nonzero chance that this is actually a bug in futures itself but so far I haven't been able to recreate it without involving toki

[2018-05-30 12:20] christophebiocca commented on #42
Ok, so I've done some `println`-driven debugging to try an understand this.

The underlying issue is either in tokio-signal or PollEvented, not sure. Basically, there's a self-pipe which gets filled by a message handler, and sometimes a successful write happens but no one gets notified:

[code]

For comparaison, a successful run looks like this:

[code]

[2018-06-01 03:46] ipetkov commented on #42
Hey @christophebiocca, thanks for the report and for the detailed logs and repro!

I tried to play around with your example and I'm definitely getting consistent deadlocks too. I even tried spawning two commands directly into `tokio` without using `buffered` and I saw the issue happen as well, so I think this might be a bug with `tokio-signal` and not the `Buffered` future itself.

I also tried pu

[2018-06-10 17:52] ipetkov commented on #42
cc @alexcrichton, do you have any insight as to what could be going on here?

[2018-06-19 15:32] dodomorandi opened #43 "Futures 0.2?"
Is there a way to use the actual implementation inside a crate with `futures = "0.2"`?
Are there any problem to port the crate to futures 0.2, or it is just a matter of work-and-time?

[2018-06-27 21:22] alexcrichton commented on #42
Hm this does indeed look suspicious! I can't seem to reproduce locally though :(

@christophebiocca should `cargo run` just periodically deadlock in the repo above? Does it still do so for you today?

[2018-06-28 02:56] ipetkov commented on #42
@alexcrichton I was able to repro the issue pretty consistently on macOS. Also appears reproducible on a linux VM, though it took me a considerable amount of attempts before it occurred.

Strace logs of when the issue occurs: https://gist.github.com/ipetkov/93158a6d2ce8c256a4688b0f12e16bb6
Strace logs during a normal run for comparison: https://gist.github.com/ipetkov/8686ddee006e2fc4e6c24d37e1e16

[2018-06-29 02:28] alexcrichton commented on #42
Hm curious! The hang looks like...

[code]

where I believe that means the file descriptor that the signal handler is writing to was deregistered from the event loop before we wrote data to it. As to why that's happening I'm not entirely sure, it may be related to the reactor changes in Tokio over the past few months (which I haven't been keeping up with).

IIRC tokio-signal has some restrictions

[2018-07-14 23:48] ipetkov commented on #42
Thanks for pointing me in the right direction @alexcrichton! I don't think the event loop is to blame here but how `tokio-signal` interacts with it.

In the failed strace log we can see
[code]

Clearly the same fd is being registered twice with the event loop and then being dropped once which causes the starvation.

Looking at a successful run we can see the same fd being added, removed, added, an

[2018-07-15 03:55] alexcrichton commented on #42
Awesome diagnosis @ipetkov, thanks for tracking this down!

[2018-07-28 19:44] ipetkov commented on #42
Here's an update around this issue: alexcrichton/tokio-signal#37 and alexcrichton/tokio-signal#41 appear to massively alleviate the starvation here, however, with enough testing persistence, I'm still able to observe deadlocks happening on a linux VM (was not able to observe on macOS).

I'm currently exploring refactoring `tokio-signal` to use a single global Driver instead of having each signal a

[2018-08-19 02:44] ipetkov commented on #42
So a new release of `tokio-signal` has been cut which includes the fixes mentioned above. I tried to reproduce the issue again, but I wasn't able to on neither macOS, neither a Linux VM (FWIW there have been some tokio updates since then in case that has alleviated anything).

@christophebiocca can you see if the issue has gone away for you?

I was exploring an architectural change in alexcrichton

[2018-08-19 20:17] christophebiocca commented on #42
I've upgraded all dependencies, making sure to specify the latest versions for tokio-signal and tokio-process. I'm still seeing the deadlock reliably. I've updated the MVCE repo to match what I'm using locally. I've tried this on two different machines to rule out hardware issues (the other machine has the same issue, but with a much lower frequency).

Given that you're having issues recreating th

[2018-08-19 20:27] christophebiocca commented on #42
Here are two `strace` runs, one successful and the other not:

[failed-trace.txt](https://github.com/alexcrichton/tokio-process/files/2300635/failed-trace.txt)
[successful-trace.txt](https://github.com/alexcrichton/tokio-process/files/2300636/successful-trace.txt)

[2018-08-23 03:53] ipetkov commented on #42
Thanks for the update @christophebiocca! I just realized I had made some local changes to your example when testing for compatibility with the `tokio` runtime, but reverting things back I'm able to repro!

My hunch is that there is some lack of synchronization happening when running outside of `tokio` (or rather extra synchronization that `tokio` does before waking which alleviates the issue). I'l

[2018-08-23 11:46] hedgar2017 commented on #13
It does not work for unfinished lines, e.g. if the process is waiting for input.

[2018-08-28 23:33] ipetkov commented on #42
Hi @christophebiocca I think I have a fix for this issue! Can you add the following to your `Cargo.toml` and check if the fix works for you?

[code]

[2018-08-30 04:37] #42 closed

[2018-08-31 14:13] christophebiocca commented on #42
Testing on my side indicates this is resolved. Thank you.

[2018-09-30 11:25] ebkalderon opened #47 "Support process forking"
The current implementation of `tokio-process` supports only spawning external commands via `std::process::Command`. Would it be feasible to expose support for `fork()` on Unix-like platforms as well? It would be nice to use `tokio-process` to fork off multiple worker subprocesses from the main one and run them to completion in a reactor core.

[2018-10-02 03:39] ipetkov commented on #47
Hi @ebkalderon, thanks for the report!

To my knowledge, [calling `fork()` without calling `exec()`](http://www.evanjones.ca/fork-is-dangerous.html) is generally [discouraged](https://mikeash.com/pyblog//friday-qa-2012-01-20-fork-safety.html) because it can lead to deadlocks among other intermittent problems if the `fork` occurs while another thread is holding a lock for example. For complex progr

[2018-10-02 07:55] ebkalderon commented on #47
Well, I aim to run each forked process in a `chroot` under a potentially different user and a restricted set permissions, which as far as I know cannot be achieved with in-process threads.

[2018-10-03 03:36] ipetkov commented on #47
Gotcha! One possible technique to use here is re-`exec`ing as the same process (with an extra flag/env var to denote it should operate as a worker) which would avoid the above pitfalls.

Would this work for you?

For example, this can be done using

[code]

[2018-10-05 12:39] ebkalderon commented on #47
That might just work! It seems pretty straightforward to implement, given the current design of the application I'm writing. I appreciate the useful links and the tip. I think this issue is safe to close for now, but should I run into any stumbling blocks regarding `tokio-process` in this particular context, I might reopen it. Thanks for the help!

[2018-10-05 12:39] #47 closed

[2019-04-24 12:27] AmarOk1412 opened #50 "Continuous stream from a Command"
Hi!

I'm facing an issue but I don't know if it's from tokio_process or SpeechRecognition. Because DeepSpeech is not ready, I use a Python Script for now to perform Speech Recognition.

The script is:

[code]

I tried to stream the stdout of the process with:

[code]

The result is weird. The script seems stuck, and I only see the first lines:
[code]

Like the script stops at `m = sr.Microphone()`

[2019-04-25 02:36] AmarOk1412 commented on #50
Not related to tokio, same problem in Python

[2019-04-25 02:36] #50 closed

[2019-04-29 08:21] vorner opened #51 "Does SIGKILL always result in *immediate* termination?"
Looking an the code here: https://github.com/alexcrichton/tokio-process/blob/master/src/unix.rs#L90, the unix kill function claims that the termination is immediate. This is also used in the destructor of the future on the upper level.

However, I don't think this is 100% accurate. I've noticed that:
* If the process has a lot of stuff in swap, the kernel first seems to clean the swap and then mak

[2019-04-30 16:12] ipetkov commented on #51
Hey @vorner, thanks for the report, very interesting finding!

The original motivation behind synchronously waiting in the destructor on the killed child was to avoid leaking zombie processes. The stdlib doesn't implement destructor cleanup for spawned processes, probably to avoid these headaches to begin with. However, given that the futures world treats drops as cancellations (and rust's RAII pa

[2019-05-01 14:21] vorner commented on #51
I would like to avoid that. I think such policy would make it really hard if not impossible to shut down an application without triggering panics on the way.

In general, the enqueueing of the future sounds like a good idea to me, with some possible improvements. Maybe few calls to `try_wait` with really short time outs in between to catch the more common case of the child terminating right away.

[2019-05-03 15:57] ipetkov commented on #51
The global list of orphaned children sounds like a plausible idea to me!

I'd imagine we'd only poll the "GC queue" whenever we'd normally `try_wait` on a child (i.e. when we know we've gotten a signal), and since orphaning should hopefully be rare, the performance penalty would get amortized to a few atomic ops.

I'll try to prototype something when I get the chance, but happy to review any other

[2019-05-13 19:30] Skarlett opened #53 "Critisms of main example provided."
[code]

There are a few pain points in the example provided, and I'll explain why they're rather difficult to work with. Seeing how we're using the highest level abstractions in the library, this is due for some scrutiny.

First and foremost, using `for_each` in an async is rather uncomfortable, and usually not a problem. But in this example, it actually tends to be because we usually want the ret

[2019-05-20 05:58] ipetkov commented on #53
Hey @Skarlett thanks for the detailed report!

You're right, the example isn't the best fit for plugging code into, I suppose it was meant to give a quick and dirty example of how to invoke the `tokio-process` APIs (IIRC it was probably also written back when were were on `tokio-core` so maybe it doesn't use the latest tokio APIs).

I think the first painpoint stems from the fact that `tokio::run`

[2019-05-20 14:34] partim commented on #51
To provide a data point, I have seen hanging `Child` futures in the wild that could be explained by this issue.

[Routinator](https://github.com/nlnetlabs/routinator) needs to spawn `rsync` processes to collect the data it is processing. On one MacOS machine, one of `rsync` process would hang eventually, leading to Routinator’s update routine hanging, too. I added a timeout via a tokio-timer aroun

[2019-05-22 01:15] Skarlett commented on #53
I will start by saying I'm no expert at asynchronous programming, and would consider myself a noob in the specifics of the field. So no opinions here should be taken as stone. With that being said - I can only speak as a user of the library.

I will say this is hard problem, and by no means I have absolute answers, but I have a few ideas.

Before we get into what **I believe** is the technical det

[2019-05-28 00:54] #53 closed

[2019-05-28 00:55] ipetkov commented on #53
Hey @Skarlett, I've rewritten the example to be a bit more flexible and more easily extendible given your examples.

Feel free to reopen if there are additional pain points which I might have missed!

[2019-05-30 17:04] aslpavel opened #57 "[unix] Waiting for `Child` after `kill`, deadlocks"
Once `kill` is called `Child` future never resolves.

### Minimal code example
This program, will never terminate
[code]
It is reproducible on both Linux and MacOS

[2019-05-31 00:47] ipetkov commented on #57
Hi @aslpavel thanks for the report!

I tried this example on my macOS machine and it resolved as expected even after multiple runs:

[code]

I wonder if this is a duplicate issue of #51. Could you verify if the deadlock occurs during the actual `kill` invocation, or during the call to `runtime.block_on`?

[2019-05-31 09:35] aslpavel commented on #57
I've done some more debugging:
- public crate "0.2.3", definitely deadlocks inside `poll`
- if I build from master it works fine (so whatever was the problem it is fixed now), but it would be great if we could understand why it locks in the first place. My guess is that somewhere between `try_wait` and actually starting listening for `signals`, we are receiving `SIGCHLD`, and that is why `poll` ha

[2019-05-31 09:48] aslpavel commented on #57
Ok, I know where bug was, looking at the code for `tag 0.2.3`. `Child` future violates contract of `Future` interface
- `kill`, calls `try_wait` which sets `reaped` to `true`
- [`Child::poll`](https://github.com/alexcrichton/tokio-process/blob/b81a627eb6125d7e7c1d30de4cc3bd958c772427/src/unix.rs#L104) returns `NotReady`, and since it has not registered to be notified, `poll` will never be called a

[2019-05-31 10:25] aslpavel commented on #57
One more thing this is actually supposed to be common pattern, sending `kill` will leave zombie process behind, better semantic for publicly exposed `kill` should return `Future` which will `wait` for process to terminate. At the very least we should probably add this as part of documentation. Same goes for `drop` but it is less clear how to fix it, essentially current implementation of `drop` wil

[2019-05-31 15:50] ipetkov commented on #57
Ah yes, thank you for digging into this further!

Yes, the current master as some partial fixes for this:
* We no longer reap the child within kill (I believe this was done earlier to handle zombie processes if the `Child` handle was dropped, but given that we publicly expose the same method, reaping there probably isn't the right thing)
* The "is reaped" guard that is causing the deadlock has als

[2019-05-31 16:06] ipetkov commented on #51
Okay here's a status update on this issue after merging in #55:

* `kill` no longer reaps the child as it shouldn't be its responsibility
	- This does mean that dropping a `Child` will kill, but leak it in a zombie state
* The internal "is reaped" flag has been optimized out by leaning on the std version which essentially does this already. This avoids the deadlocks described in #57.

Next steps:

[2019-05-31 16:08] ipetkov commented on #57
Given that the immediate cause of the deadlocks has been fixed in master, and given that we're already tracking a broader fix around this in #51, let's move the discussion there.

Thanks again for the deep dive @aslpavel!

[2019-05-31 16:08] #57 closed

[2019-06-15 22:29] ipetkov commented on #51
I've implemented a slightly simpler, but similar, approach as mentioned in my last comment in #58.

@vorner and @partim could you try to do a test and see if the issues have gone away?
Planning to cut a new release sometime next week with the fix, but it would be good to do an extra sanity check if things are working as expected!

[2019-06-16 06:59] vorner commented on #51
I haven't actually *reproduced* it in the first place, I've only guessed at the problem from reading source code. But I'll have a look at the new code and try thinking if it *should* go away at least :-)

[2019-06-22 03:05] #51 closed

[2019-07-21 18:44] ipetkov commented on #11
Moving this to tokio-rs/tokio#1337

[2019-07-21 18:44] #11 closed